.modalStyle {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
}

.modalStyleContainer {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  min-height: 80vh;
  margin: auto;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (max-width: 700px) {
  .modalStyleContainer {
    width: 300px;
  }
}
