.donationpage {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 5rem;
	margin-top: 2rem;
}
.donationpage_details {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	background-color: white;
	height: 100vh;
}
.nod {
	text-align: center;
	margin-top: 5rem;
	font-size: 1.5rem;
}
.donationpage_ngoimg {
	width: 100px;
	align-self: center;
	height: 100px;
	border-radius: 50% 50%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.donationpage_ngoname {
	align-self: center;
	font-weight: 800;
}
.other p {
	margin-bottom: 1rem;
}

.other {
	margin-top: 2rem;
	align-self: center;
}
.donationpage Button {
	margin-top: 1rem;
	min-width: 170px;
	align-self: center;
	padding: 0.5rem;
}
.donations {
	display: flex;
	flex-direction: column;
}
.donation_text {
	align-self: center;
	margin-top: 2rem;
	font-size: 1.4rem;
	margin-bottom: 3rem;
}

.bckgnd {
	width: 100%;
	height: 80vh;
	margin-top: 5rem;
	background: rgba(255, 225, 180, 0.76);
	z-index: -4;
	position: absolute;
	left: 0;
}
.totalamt {
	align-self: flex-end;
	margin-right: 5rem;
}
.value {
	margin-top: 0.5rem;
	text-align: center;
	background-color: white;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
	.donationpage {
		margin: 2rem 2rem;
	}
	.donationpage_ngoimg {
		width: 70px;

		height: 70px;
	}
	.donationpage_ngoname {
		font-size: 0.9rem;
	}

	.other {
		margin-top: 2rem;
		font-size: 0.7rem;
		align-self: center;
	}
	.donationpage Button {
		min-width: 100px;

		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 770px) {
	.donationpage {
		display: block;
	}
	.donationpage_details {
		height: 100%;
		margin: 0 5rem;

		margin-bottom: 3rem;
	}
	.donationpage_ngoimg {
		width: 100px;

		height: 100px;
	}
	.donationpage_ngoname {
		font-size: 1rem;
	}

	.other {
		margin-top: 2rem;
		font-size: 0.8rem;
		align-self: center;
	}
	.donationpage Button {
		min-width: 100px;
		margin-bottom: 2rem;
		font-size: 0.8rem;
	}
	.bckgnd {
		top: 50%;
	}

	@media only screen and (max-width: 500px) {
		.donationpage_details {
			height: 100%;
			margin: 0 1rem;
			margin-bottom: 3rem;
		}
		.donationpage_ngoimg {
			width: 70px;
			height: 70px;
		}
	}
	.donation_text {
		margin-top: 2rem;
		font-size: 1rem;
	}
}
