.hero_section {
  width: 84.33vw;
  margin: 2rem auto 3rem auto;
  display: flex;
  align-items: center;
}
.hero_section img {
  width: 55%;
  height: auto;
}
.h1 {
  font-family: "Arvo", sans-serif;
  color: #5f5f5f;
  font-size: 3rem;
  letter-spacing: 0.07em;
}
.hero_section .info .tag {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #454545;
  font-size: 1rem;
  letter-spacing: 0.07em;
  margin-top: 0.5rem;
}
.hero_section .info button {
  width: 10rem;
  height: 3rem;
  color: white;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #ff7a00, #ff9900);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-top: 0.2rem;
}

@media only screen and (max-width: 1040px) {
  .h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .h1 {
    font-size: 1.6rem;
  }
  .hero_section .info .tag,
  a {
    font-size: 0.7rem;
  }
  .hero_section .info button {
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 440px) {
  .h1 {
    font-size: 1.5rem;
  }
  .hero_section {
    width: 100%;
    overflow: hidden;
  }
  .hero_section img {
    height: 70%;
    transform: translateX(15%);
  }
  .hero_section .info {
    position: relative;
    left: 3rem;
  }
  .hero_section .info .tag {
    font-size: 0.5rem;
  }
  .hero_section .info button {
    width: 5rem;
    height: 1.7rem;
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 320px) {
  .h1 {
    font-size: 1.3rem;
  }
  .hero_section img {
    height: 70%;
    transform: translateX(30%);
  }
}
