.eachngo {
	color: rgba(89, 89, 89, 1);
	padding: 2rem 0rem 1rem 0rem;

	background-color: white;
	display: block;
	border: 1px solid var(--orangeColor);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.eachngo_image {
	align-self: center;
	width: 50%;
	height: 50%;
}
.eachngo_name {
	margin-top: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 800;
	align-self: center;
}
.eachngo_location {
	align-self: center;
	font-size: 0.9rem;
}
.info {
	align-self: center;
}
.eachngo_type {
	font-size: 0.8rem;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}
.eachngo_email {
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}
.eachngo_phoneno {
	font-size: 0.8rem;
}
.eachngo_websitediv {
	display: flex;
	font-size: 0.8rem;
	align-self: center;
	margin-top: 1.5rem;
}
.eachngo_websitediv_image {
	height: 18px;
	width: 18px;
	margin-right: 7px;
}
@media only screen and (max-width: 1166px) {
	.eachngo {
		padding: 2rem;
		padding-bottom: 1rem;
		min-width: 20vw;

		margin-bottom: 1rem;
	}
	.eachngo_image {
		align-self: center;
		width: 60%;
		height: 60%;
	}
	.eachngo_name {
		margin-top: 1rem;
		font-size: 0.8rem;
		font-weight: 800;
		align-self: center;
	}
	.eachngo_location {
		align-self: center;
		font-size: 0.7rem;
	}
	.eachngo_type {
		font-size: 0.6rem;
		margin-top: 1rem;
		margin-bottom: 0.3rem;
		margin-left: 1.2rem;
	}
	.eachngo_email {
		font-size: 0.6rem;
		margin-bottom: 0.3rem;
		margin-left: 1.2rem;
	}
	.eachngo_phoneno {
		font-size: 0.6rem;
		margin-left: 1.2rem;
	}
	.eachngo_websitediv {
		display: flex;
		font-size: 0.6rem;
		align-self: center;
		margin-top: 1.5rem;
	}
	.eachngo_websitediv_image {
		height: 15px;
		width: 15px;
		margin-right: 5px;
	}
}
@media only screen and (max-width: 921px) {
	.info {
		white-space: nowrap;
	}
}

@media only screen and (max-width: 520px) {
	.eachngo {
		padding: 2rem 0;
		padding-bottom: 1rem;
		width: 100%;
		margin-bottom: 1rem;
	}
	.eachngo_image {
		align-self: center;
		width: 50%;
		height: 50%;
	}

	.eachngo_websitediv_image {
		height: 10px;
		width: 10px;
		margin-right: 5px;
	}
}
