.locationPage {
	padding-left: 50px;
	display: flex;
	flex-direction: column;
}
.locationPage img {
	height: 60px;
	width: 60px;
	align-self: center;
	margin-bottom: 3rem;
}
.locationPage > h1 {
	margin-top: 3rem;
	text-align: center;
	font-family: "Arvo", "poppins";
	font-size: 1.8rem;

	letter-spacing: 3px;
	margin-bottom: 2rem;
}
.locationPage span {
	color: var(--orangeColor);
	font-family: "Arvo", "poppins";
	letter-spacing: 3px;
}

.locateSection {
	display: flex;
	align-items: flex-end;
	font-size: 1rem;
}
.locateSection > div > button {
	margin-left: 20px;
}

@media (max-width: 500px) {
	.locateSection {
		flex-direction: column;
		align-items: flex-start;
	}
	.locateSection > div > button {
		margin-left: 0px;
		margin-right: 20px;
	}
}
