.donation {
  margin: 0 4rem;
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 9px rgba(255, 153, 0, 0.39);
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.donation > div > p {
  margin-right: 10px;
}
.donationdetails_amt {
  margin-left: 70%;
}
