.loginText {
  color: var(--textColor);
  margin-bottom: 50px;
}
.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginContainer > div {
  margin-bottom: 20px;
}
.loginContainer input {
  width: 300px;
}
.or {
  margin: 15px 0px;
  color: var(--textColor);
}
@media (max-width: 700px) {
  .loginContainer {
    width: 300px;
  }
  .loginContainer input {
    width: 200px;
  }
}
