.login {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
}

.loginContainer {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 80vh;
  margin: auto;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.loginText {
  color: var(--textColor);
  margin-bottom: 50px;
}
.loginContainer > div {
  margin-bottom: 20px;
}
.loginContainer input {
  width: 300px;
}
.or {
  margin: 15px 0px;
  color: var(--textColor);
}
@media (max-width: 700px) {
  .loginContainer {
    width: 300px;
  }
  .loginContainer input {
    width: 200px;
  }
}
