.donate {
  min-height: calc(100vh - 163px);
}
.donate img {
  height: 60px;
  width: 60px;
  align-self: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.donate > h1 {
  margin-top: 3rem;
  text-align: center;
  font-family: "Arvo", "poppins";
  font-size: 1.8rem;

  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.donate span {
  color: var(--orangeColor);
  font-family: "Arvo", "poppins";
  letter-spacing: 3px;
}

.donate_container {
  display: flex;
  width: 100%;
}
.donate_container_left {
  flex: 0.3;
  min-width: 250px;
  border-right: 1px solid #a9a9a9;
}
.donate > p {
  padding-left: 20px;
  font-weight: bolder;
}
.donate_container_right {
  flex: 0.7;
  padding: 0px 10vw;
}
.donate_container_right > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.donate_categories {
  border-radius: 33px;
  width: 120px;
  text-align: center;
  color: white;
  padding: 10px 20px;
  margin: 15px auto;
}
.ngo_name {
  border: none;
  border: 1px solid #929292;
  border-radius: 20px;
  justify-self: flex-start;
  outline: none;
  padding: 5px;
  width: 300px;
  background-color: white;
  color: var(--textColor);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.moneydonation {
  display: flex;
  flex-direction: column;
}
.moneydonation > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.donationsamt {
  display: flex;
}
.ngo_name option[value=""][disabled] {
  display: none;
}
@media (max-width: 1024px) {
  .donate_container_right > div {
    flex-direction: column;
  }
  .donate_container_right > div > div {
    margin-bottom: 20px;
  }
  .ngo_name {
    width: 200px;
  }
}
@media (max-width: 700px) {
  .donate_container {
    flex-direction: column;
  }
  .donate_container_left {
    flex: 1;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 0px;
  }
  .donate_container_right {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .donate_categories {
    display: inline;
    margin: 20px;
    width: 50px;
    font-size: 12px;
  }
  .moneydonation > div {
    flex-direction: column;
  }
}
